:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.container{
    height: 100vh;
    
}

.card{
    padding: 0.9375rem;
    border-radius: 0.6rem;
    
    
    
}

.card1{
    background-color: var(--Bright-orange);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    color: #fff;
    padding: 1.875rem;
}

.card2{
    background-color: var(--Dark-cyan);
    color: #fff;
    padding: 1.875rem;
}

.card3{
    background-color: var(--Very-dark-cyan);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    color: #fff;
    padding: 1.875rem;
}

.card h1{
    margin-bottom: 1.875rem;
    font-family: 'Big Shoulders Display', cursive;
}

.card p{
    margin-bottom: 1.875rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    color: #ffffffbf;
    line-height: 1.8;

}

.card img{
    margin-bottom: 1.25rem;
}

.card button{
    background-color: #fff;
    padding: 0.625rem 1.875rem;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Lexend Deca', sans-serif;
    margin: 1.875rem 0 0.625rem 0;
}

.card button:hover{
    background-color: transparent;
    color: #fff;
    
}

.card1 button{
    color: var(--Bright-orange);
}

.card2 button{
    color: var(--Dark-cyan);
}

.card3 button{
    color: var(--Very-dark-cyan);
}

.card1 a{
    text-decoration: none;
    color: var(--Bright-orange);
}

.card2 a{
    text-decoration: none;
    color: var(--Dark-cyan);
}

.card3 a{
    text-decoration: none;
    color:var(--Very-dark-cyan);
}

@media (min-width: 36.8125rem) {
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 53.125rem;
        margin: auto;
    }

    .card1{
        border-radius: 0.5rem 0rem 0rem 0.5rem;
    }

    .card3{
        border-radius: 0rem 0.5rem 0.5rem 0rem;
    }
}
