@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

.container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

div{
    background-color: aliceblue;
    border-radius: 10px;
    width: 220px;
    padding: 10px;

        
  }
  body{
    background-color: hsl(212, 45%, 89%);
    
  }
    
  h3{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
  }
  p{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    color: hsl(212, 17%, 69%);
  }
  img{
    width: 220px;
    border-radius: 10px;
  }