*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

.container {
    display: flex;
    width: 100%;
    gap: 5rem;

}

/* ⇩ images ⇩ */

.logo img{
    
    margin: 3.7rem;
    width: 100%;
    max-width: 230px;
}

.mockups img{
    margin: .8rem 0rem 0 4rem;
    width: 100%;
    
}

/* ⇩ informations ⇩ */

.info{
    
    color: white;
    width: 39%;
    margin: 4rem 2rem;
}

.info h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    padding-right: 2rem;
}

/* ⇩ button ⇩ */

button{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding: 1rem 4rem;
    border-radius: 2rem;
    border: none;
    background-color: white;
    color: hsl(257, 40%, 49%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.416);
}

button:hover{
    background-color: violet;
    color: white;
    cursor: pointer;
}

/* ⇩ icons ⇩ */

.icons{
    color: white;
    display: flex;
    justify-content: end;
    height: 10vh;
    font-size: 1rem;
    margin-right: .8rem;
}
.icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    border: 1px solid;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.icons i:hover{
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

@media (max-width: 820px) {

    body{
        background-image: url(images/bg-mobile.svg);
        background-size: 100%;
        width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img{
        margin: 2.2rem 2rem;
        max-width: 130px;
    }

    .mockups img{
        width: 83%;
        margin: 1rem 0 0 2.2rem;
    }

    .info{
       width: 100%;
       text-align: center;
       margin: 0%;
    }

    .info h1{
        font-size: 1.8rem;
        padding: 1rem;
        margin: 0%;
    }

    .info p{
        padding: 0 2.2rem;
        line-height:1.5rem;
        margin: 0%;
    }

    button{
        margin-top: 1.5rem;
        padding: .6rem 5rem;
    }

    .icons{
        margin-top: 3rem;
        justify-content: center;
        font-size: 1rem;

    } 

    .icons i{
        width: 30px;
        height: 30px;
    }
    
}

/*
@media (max-width: 820px) {

    body{
        background-image: url(images/bg-mobile.svg);
        background-size: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img{
        
        margin-left: 6rem;
        max-width: 250px;
    }

    .mockups img{
        width: 100%;
        max-width: 84%;
        margin-top: 5.9rem;
    }

    .info{
        width: 100%;
        text-align: center;
        padding: 0 9rem;
    }

    .info p{
        font-size: 1.5rem;
        line-height: 2.3rem;
        padding: 0 2.5rem;
    }

    button{
        padding: 1rem 8rem;
        font-size: 1.5rem;
        border-radius: 2rem;
    }

    .icons{
        justify-content: center;
        font-size: 1.6rem;

    }

    .icons i{
        width: 50px;
        height: 50px;
    }
    
}

*/